[Unit]
Description=Set ACL on docker container directories

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c 'find /var/lib/docker/containers -mindepth 1 -maxdepth 1 -type d -print0 | xargs -0 -r setfacl -m g:logs:r-x; find /var/lib/docker/containers -type f -name *.log -print0 | xargs -0 -r setfacl -m g:logs:r--'
