apiVersion: apps/v1
kind: Deployment
metadata:
  name: debug
  namespace: nais
  labels:
    k8s-app: debug
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: debug
  template:
    metadata:
      labels:
        k8s-app: debug
    spec:
      containers:
      - name: debug
        image: oyvindio/debug@sha256:e5861330dd71e22e57494d75f70a2cdb0567b17a0950fd7dec87836dde2e9ff6
