---
apiVersion: v1
kind: Secret
metadata:
  name: prometheus-adapter-custom-metrics
  namespace: nais
  labels:
    app: prometheus-adapter-custom-metrics
type: kubernetes.io/tls
data:
  tls.crt: {{ lookup('file', 'target/pki/prometheus-adapter-custom-metrics.pem') | b64encode }}
  tls.key: {{ lookup('file', 'target/pki/prometheus-adapter-custom-metrics-key.pem') | b64encode }}
