---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: traefik-ingress-controller
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - services
      - endpoints
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - extensions
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: traefik-ingress-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: traefik-ingress-controller
subjects:
- kind: ServiceAccount
  name: traefik-ingress-controller
  namespace: kube-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: traefik-ingress-controller
  namespace: kube-system
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik
  namespace: kube-system
data:
  traefik.toml: |
    defaultEntryPoints = ["http","https"]

    [traefikLog]
    format = "json"
    
    [metrics]
      [metrics.prometheus]

    [accessLog]
    format = "json"

      [accessLog.fields]
        defaultMode = "keep"

        [accessLog.fields.names]
          "ClientAddr" = "drop"
          "DownstreamStatusLine" = "drop"
          "OriginStatusLine" = "drop"
          "RequestAddr" = "drop"
          "StartLocal" = "drop"

        [accessLog.fields.headers]
          defaultMode = "keep"

          [accessLog.fields.headers.names]
            "Authorization" = "redact"
            "Cookie" = "redact"
            "Password" = "redact"
            "Set-Cookie" = "redact"

    [entryPoints]
      [entryPoints.http]
      address = ":80"
      #  [entryPoints.http.redirect]
      #    entryPoint = "https"
      [entryPoints.https]
      address = ":443"
        [entryPoints.https.tls]
          [[entryPoints.https.tls.certificates]]
          CertFile = "/tls/tls.crt"
          KeyFile = "/tls/tls.key"
---
kind: DaemonSet
apiVersion: extensions/v1beta1
metadata:
  name: traefik-ingress-controller
  namespace: kube-system
  labels:
    k8s-app: traefik-ingress-lb
spec:
  selector:
    matchLabels:
      k8s-app: traefik-ingress-lb
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        k8s-app: traefik-ingress-lb
        name: traefik-ingress-lb
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
    spec:
      nodeSelector:
        nais.io/type: worker
      serviceAccountName: traefik-ingress-controller
      terminationGracePeriodSeconds: 60
      containers:
      - image: traefik:{{ traefik_version }}
        name: traefik-ingress-lb
        volumeMounts:
          - name: config-volume
            mountPath: /config
          - name: certificates
            mountPath: /tls
        resources:
          limits:
            cpu: 400m
            memory: 256Mi
          requests:
            cpu: 200m
            memory: 256Mi
        ports:
        - containerPort: 80
          hostPort: 80
        - containerPort: 443
          hostPort: 443
        - containerPort: 8080
        args:
        - --web
        - --kubernetes
        - --web.metrics
        - --web.metrics.prometheus
        - --checknewversion=false
        - --configfile=/config/traefik.toml
      volumes:
        - name: config-volume
          configMap:
            name: traefik
        - name: certificates
          secret:
            secretName: traefik-cert
---
apiVersion: v1
kind: Service
metadata:
  name: traefik-web-ui
  namespace: kube-system
spec:
  selector:
    k8s-app: traefik-ingress-lb
  ports:
  - port: 80
    targetPort: 8080
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: traefik-web-ui
  namespace: kube-system
spec:
  rules:
  - host: traefik.{{ cluster_lb_suffix }}
    http:
      paths:
      - backend:
          serviceName: traefik-web-ui
          servicePort: 80

