apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  labels:
    component: kube-apiserver
    tier: control-plane
  name: kube-apiserver
  namespace: kube-system
spec:
  containers:
  - command:
    - kube-apiserver
    - --allow-privileged=true
    - --kubelet-client-certificate=/etc/kubernetes/pki/admin.pem
    - --kubelet-client-key=/etc/kubernetes/pki/admin-key.pem
    - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
    - --tls-cert-file=/etc/kubernetes/pki/kube-apiserver-server.pem
    - --tls-private-key-file=/etc/kubernetes/pki/kube-apiserver-server-key.pem
    - --secure-port=6443
    - --experimental-bootstrap-token-auth=true
    - --storage-backend=etcd3
    - --service-cluster-ip-range={{ service_cidr }}
    - --service-account-key-file=/etc/kubernetes/pki/sa.pub
    - --client-ca-file=/etc/kubernetes/pki/ca.pem
    - --insecure-port=8080
    - --insecure-bind-address=127.0.0.1
    - --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,PersistentVolumeLabel,DefaultStorageClass,ResourceQuota,DefaultTolerationSeconds
    - --authorization-mode=RBAC
    - --oidc-issuer-url={{oidc-issuer-url}}
    - --oidc-client-id={{oidc-client-id}}
    - --oidc-username-claim={{oidc-username-claim}}
    - --oidc-groups-claim={{groups}}
    - --advertise-address={{ansible_default_ipv4.address}}
    - --etcd-servers=http://127.0.0.1:2379
    image: gcr.io/google_containers/kube-apiserver-amd64:v{{ k8s_version }}
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 6443
        scheme: HTTPS
      initialDelaySeconds: 15
      timeoutSeconds: 15
    name: kube-apiserver
    resources:
      requests:
        cpu: 250m
    volumeMounts:
    - mountPath: /etc/kubernetes/
      name: k8s
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: certs
    - mountPath: /etc/pki
      name: pki
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/kubernetes
    name: k8s
  - hostPath:
      path: /etc/ssl/certs
    name: certs
  - hostPath:
      path: /etc/pki
    name: pki
status: {}
