{
    "client": {
        "name": "{{ cluster_name }}_{{ inventory_hostname }}",
        "address": "{{ inventory_hostname }}",
        "subscriptions": [],
        "socket": {
            "bind": "0.0.0.0",
            "port": 3030
            },
        "tags": {
            "cluster": "{{ cluster_name }}",
            "category": "worker",
            "environment": "",
            "hostname": "{{ inventory_hostname }}"
                 }
    }
}
