---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: servicegraph
  namespace: istio-system
  annotations:
    sidecar.istio.io/inject: "false"
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: servicegraph
    spec:
      containers:
      - name: servicegraph
        image: docker.io/istio/servicegraph:0.5.1
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 8088
        args:
        - --prometheusAddr=http://nais-prometheus-prometheus-server.nais.svc:80
---
apiVersion: v1
kind: Service
metadata:
  name: servicegraph
  namespace: istio-system
spec:
  ports:
  - name: http
    port: 80
    targetPort: 8088
  selector:
    app: servicegraph
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: istio
  labels:
    app: servicegraph
  name: servicegraph
  namespace: istio-system
spec:
  rules:
  - host: servicegraph.{{ cluster_lb_suffix }}
    http:
      paths:
      - backend:
          serviceName: servicegraph
          servicePort: 80
        path: /.*
  tls:
  - secretName: istio-ingress-certs
