[Unit]
Description=flannel
Documentation=https://coreos.com/flannel
Before=docker.service

[Service]
ExecStart=/usr/bin/flanneld -etcd-endpoints=http://{{ master_ip }}:2379 -etcd-prefix=/nais/network

Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
