{% set etcd_urls = [] -%}
{% for host in groups['etcd'] -%}
  {% set _ = etcd_urls.append("https://%s:2379" % (host)) -%}
{% endfor -%}
[Unit]
Description=flannel
Documentation=https://coreos.com/flannel
Before=docker.service

[Service]
ExecStart={{ install_dir }}/bin/flanneld \
  --etcd-endpoints={{ etcd_urls | join(",") }} \
  --etcd-prefix=/nais/network \
  --etcd-cafile=/etc/kubernetes/pki/ca.pem \
  --etcd-certfile=/etc/kubernetes/pki/etcd.pem \
  --etcd-keyfile=/etc/kubernetes/pki/etcd-key.pem

Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
