{
  "CN": "kube-apiserver",
  "hosts": [
    "127.0.0.1",
	"{{ kubernetes_default_ip }}",
    "kubernetes",
    "kubernetes.default",
    "kubernetes.default.svc",
    "kubernetes.default.svc.cluster.local",
    "*.{{ domain }}",
    "{{ hostvars[groups['masters'][0]]['ansible_hostname'] }}",
    "{{ master_ip }}"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  }
}
