[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/opt/bin/kube-proxy --cluster-cidr={{ pod_network_cidr }} --masquerade-all=true --kubeconfig=/etc/kubernetes/kubeconfigs/kube-proxy.conf --proxy-mode=iptables --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
