{
  "CN": "kube-apiserver",
  "hosts": [
    "127.0.0.1",
    "kubernetes",
    "kubernetes.default",
    "kubernetes.default.svc",
    "kubernetes.default.svc.cluster.local",
    "*.{{ domain }}",
    "{{ hostvars[groups['masters'][0]]['ansible_hostname'] }}",
    "{{ hostvars[groups['masters'][0]]['ansible_eno16780032']['ipv4']['address'] }}"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  }
}
