[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=http://kubernetes.io/docs/

[Service]
Environment="TZ=UTC"
Environment="HOME=/root"
ExecStart={{ install_dir }}/bin/kubelet \
  --config=/etc/kubernetes/kubeconfigs/kubelet-config.yaml \
  --hostname-override {{ inventory_hostname }} \
  --node-labels=nais.io/type=master,kubernetes.io/role=master \
  --image-pull-progress-deadline=10m \
  --v={{ log_level|default(2) }} \
  --register-with-taints=node.alpha.kubernetes.io/ismaster=:NoSchedule \
  --kubeconfig=/etc/kubernetes/kubeconfigs/kubelet.conf \
{% if vsphere is defined %}
  --cloud-provider=vsphere \
  --cloud-config=/etc/kubernetes/vsphere.conf \
{% endif %}
  --volume-plugin-dir={{ volume_plugin_dir }}
Restart=always
StartLimitInterval=0
RestartSec=10
CPUAccounting=true
MemoryAccounting=true

[Install]
WantedBy=multi-user.target
