apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: vsphere
provisioner: kubernetes.io/vsphere-volume
parameters:
  datastore: {{ vsphere.datastore }}
  diskformat: thin
  fstype: ext4
