[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=http://kubernetes.io/docs/

[Service]
Environment="TZ=UTC"
Environment="HOME=/root"
Environment="PATH=/opt/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart={{ install_dir }}/bin/kubelet \
  --config=/etc/kubernetes/kubeconfigs/kubelet-config.yaml \
  --hostname-override {{ inventory_hostname }} \
  --node-labels={{ node_labels|default(["nais.io/type=worker"])|join(',') }} \
  --image-pull-progress-deadline=10m \
  --kubeconfig=/etc/kubernetes/kubeconfigs/kubelet.conf \
  --register-with-taints={{ node_taints|default([""])|join(',') }} \
  --v={{ log_level|default(0) }} \
  --volume-plugin-dir={{ volume_plugin_dir }}
Restart=always
StartLimitInterval=0
RestartSec=10
CPUAccounting=true
MemoryAccounting=true

[Install]
WantedBy=multi-user.target
