[Unit]
Description=Pushes etcd metrics to prometheus

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'NAME="nais";if [[ $(grep initial-cluster-token /etc/systemd/system/etcd.service | cut -d" " -f4) == "nais-ci-etcd" ]]; then NAME="nais-ci";fi;CLUSTER=$(sed -nr \'/initial-cluster-token/ s/.* (\S+)-etcd.*/\1/p\' /etc/systemd/system/etcd.service);curl -k --cert /etc/ssl/etcd/etcd-client.pem --key /etc/ssl/etcd/etcd-client-key.pem https://$(hostname -f):2379/metrics | curl -k --data-binary @- https://prometheus-pushgateway.$NAME.$(hostname -d)/metrics/job/etcd/instance/$(hostname -f)/cluster/$CLUSTER'
