[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com

[Service]
EnvironmentFile=/var/lib/docker/docker_opts.env
ExecStart=/usr/bin/dockerd $DOCKER_OPTS
ExecStartPost=/sbin/iptables -A FORWARD -i flannel.1 -j ACCEPT

LimitNOFILE=infinity

Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
