[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After=flannel.service

[Service]
EnvironmentFile=/var/lib/docker/docker_opts.env
ExecStart=/usr/bin/dockerd $DOCKER_OPTS --default-ulimit nofile=4096000:4096000
ExecStartPost=/sbin/iptables -A FORWARD -i flannel.1 -j ACCEPT
ExecReload=/bin/kill -s HUP $MAINPID

Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
