apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
clusterDNS: ["{{ cluster_dns_ip }}"]
clusterDomain: "{{ cluster_domain }}"
authentication:
  anonymous:
    enabled: false
  x509:
    clientCAFile: "/etc/kubernetes/pki/ca.pem"
imageGCHighThresholdPercent: 80
imageGCLowThresholdPercent: 40
