apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration 
clusterDns: "{{ cluster_dns_ip }}"
clusterDomain: "{{ cluster_domain }}"
anonymousAuth: "false"
clientCaFile: "/etc/kubernetes/pki/ca.pem"
imageGcHighThreshold: "80"
imageGcLowThreshold: "40"
