[Unit]
Description=Prometheus

[Service]
User=prometheus
LimitNOFILE=50000
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/opt/prometheus/prometheus --config.file /opt/prometheus/prometheus.yml --storage.tsdb.path=/data/prometheus --storage.tsdb.retention.time={{ prometheus_retention }} --query.timeout={{ prometheus.query.timeout }} --query.max-samples={{ prometheus.query.max_samples }}
Restart=always

[Install]
WantedBy=multi-user.target
